body {
       background-color: #DEF2F3;
}

.baraMain{
    width: 780px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
input {
    text-align: center;
    width: 400px;
    height: 80px;
    border-radius: 50px;
    outline: none;
    border-color: hsl(150, 20%, 20%);
    font-size: 150%;
    margin: 0px 0px 0px 0px;
}
.main {
    border-radius: 50px;
    outline: none;
    text-align: center;
    width: 600px;
    background-color: #589BA4;
    /*background-color: hsl(120, 50%, 50%);*/
    padding: 25px 50px 25px 50px;
    margin: 25px auto 25px auto;
}
#b1 {
    border-radius: 50px;
    outline: none;
    font-size: 150%;
    color: black;
    width: 80px;
    height: 80px;
    background-color: #1093A7;
    border-color: hsl(150, 20%, 20%);
    margin-left: 10px;
    float: right;
    cursor: pointer;
        box-shadow: 0 2px hsl(150, 20%, 20%);
}
#b1:active {
    transform: translateY(2px);
        box-shadow: none;
}
#b2 {
    border-radius: 50px;
    outline: none;
 font-size: 150%;
    color: black;
    width: 90px;
    height: 80px;
    /*background-color: #4CAF50;
    border-color: black;*/
     background-color: #1093A7;
    border-color: hsl(150, 20%, 20%);
    margin-left: 10px;
    float: right;
    cursor: pointer;
    box-shadow: 0 2px hsl(150, 20%, 20%);
}
#b2:active {
        transform: translateY(2px);
        box-shadow: none;
}
#main2 {
    text-align: center;
   
}

li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    border-radius: 50px;
    outline: none;  
    width: 700px;
    list-style-position: inside;
    background-color: #24454C;
    /*border: 3px solid #24454C;*/
    height: 30px;
    /*padding-top: 3px;*/
    list-style-type: none;
    font-size: 120%;
    margin-top: 5px;
    margin-left: 0px;
}
button {
    float: right;
}
.clear {
    clear: both;
}
h1{
    text-align: center;
    font-family: Courier New, Courier, monospace;
    font-size: 80px;
}
.buttons {
    border: none;
    width: 25px;
    height: 30px;
    color: black;
    background-color: #1093A7;
    border-radius: 30px;
    outline: none;
}
h2{
    text-align: center;
    font-family: Courier New, Courier, monospace;
    font-size: 25px;
}
/*
.baraMain {
    width: 800px;
    font-size: 150%;
    padding-top: 20px;
    margin: 0px auto 0px auto;
    text-align: center;
    font-family: Courier New, Courier, monospace;
    background-color: #fff340;
    border-radius: 50px;
}
.main {
    position: fixed;
    background-color: blue;
    height: 120px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-top: 10px;
}
input {
    width: 400px;
    height: 40px;
    text-align: center;
    margin-top: 30px;
    font-size: 100%;
}
.butt{
    color: black;
    background-color: white;
    width: 100px;
    height: 50px;
    border-radius: 35px;
    border: 1px solid black;
}
.butt:hover {
    background-color: black;
    color: white;
}*/
